body {
    display:grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(236, 234, 234);
    color: #fff;
    font-family: "Shantell Sans", cursive;
  }
  
  .media-player {
    margin-top: 5%;
    width: 300px;
    background-color: #202020;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cover-art-container {
    margin-bottom: 15px;
  }
  
  #coverArt {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px whitesmoke;
  }
  
  .seek-bar {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .control-buttons {
    display: flex;
    gap: 10px;

  }
  
  .control-button {
    flex: 1; /* Allow buttons to share the available space equally */
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ffffff;
    color: black;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

 
  
  
  
  .current-time {
    font-size: 14px;
  }
  .queue {
    margin-top: 20px;
    text-align: center;
  }
  
  #songQueue {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #songQueue li {
    margin: 5px 0;
    transition: background-color 0.3s;
  }

  .current-song {
    background-color: grey;
    color: #fff;
    border-radius: 5px;
  }
  
  .current-song-shuffle {
    background-color: #6a4eff;
    color: #fff;
  }
  
  h5{
    color: #202020;
  }


  